@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  box-sizing: border-box;
}

:focus {
  /* outline: 2px solid hsl(14, 86%, 42%); Customize the outline color */
  outline-offset: 4px; /* Add space between the element and the outline */
}

:root {
  --color-primary: hsl(14, 86%, 42%);
  --color-light: hsl(0, 0%, 100%);
  --color-dark: hsl(0, 0%, 0%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  --color-shade-primary: hsla(0, 0%, 0%, 0.16);
  --color-shade-secondary: hsla(0, 0%, 0%, 0.08);
  --radius-primary: 15px;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--color-rose-50);
  line-height: 1.4;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
}

input,
button {
  font: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;
}

h1 {
  color: var(--color-rose-900);
}

/* DESSERT */

.dessert img {
  border-radius: var(--radius-primary);
  width: 100%;
  max-height: 300px;
  border: 3px solid transparent;
}

.dessert.added img {
  border-color: var(--color-primary);
}

.dessert .cart-btn,
.quantity-btns {
  transform: translateY(-50%);
  margin: 0 auto;
  width: 60%;
  font-weight: 600;
  gap: 8px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.cart-btn svg {
  height: 26px;
}

.quantity-btns {
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 12px;
  border: 1px solid transparent;
}

.quantity-btns button {
  border: 2px solid var(--color-light);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dessert .cart-btn {
  padding: 12px;
  width: 60%;
  background-color: var(--color-light);
  border: 1px solid var(--color-rose-400);
  justify-content: center;
  color: var(--color-rose-900);
}

.category {
  color: var(--color-rose-500);
}

.details p {
  margin: 0.5rem 0;
}

.title {
  color: var(--color-rose-900);
  font-size: 1.1rem;
  font-weight: 600;
}

.price {
  font-weight: 600;
  color: var(--color-primary);
}

.desserts-container {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(270px, auto));
}

/* CART */

.cart {
  background-color: var(--color-light);
  border-radius: var(--radius-primary);
  padding: 16px;
  box-shadow: var(--color-shade-secondary) 0px 1px 4px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.cart ul {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 16px;
}

.cart li {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 0 16px;
  border-bottom: 1px solid var(--color-rose-100);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.cart h2 {
  color: var(--color-primary);
  margin-top: 0;
}

.cart .title {
  grid-column: 1 / 4;
  margin: 0.5rem 0;
}

.cart .quantity {
  grid-column: 1 / 2;
  color: var(--color-primary);
  font-weight: 600;
}

.cart .price {
  grid-column: 2 / 3;
  color: var(--color-rose-500);
  font-weight: 400;
}

.cart .total {
  grid-column: 3 / 4;
  color: var(--color-rose-500);
  font-weight: 600;
}

.cart .remove-btn {
  grid-column: 5;
  grid-row: 1/ 3;
  font-weight: bold;
  width: 26px;
  height: 26px;
  border: 1px solid var(--color-rose-500);
  border-radius: 50%;
  color: var(--color-rose-900);
}

.summary .total {
  color: var(--color-dark);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.total .price {
  font-size: 2rem;
  color: var(--color-dark);
  font-weight: 700;
  margin: 0;
}

.cart .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty p {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--color-rose-500);
}

.carbon-neutral {
  background-color: var(--color-rose-50);
  border-radius: var(--radius-primary);
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.summary strong {
  font-weight: 600;
}

.order-btn {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 16px;
  font-weight: 600;
  width: 100%;
  border-radius: 50px;
}

@media screen and (min-width: 700px) {
  .dessert .details,
  .dessert .title {
    font-size: 1.15em;
  }

  .cart {
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    display: flex;
    gap: 32px;
  }

  .desserts-col {
    flex-basis: 70%;
  }

  .cart {
    flex-basis: 30%;
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 0;
  }

  .container {
    margin: 32px auto;
  }

  h1 {
    margin-top: 0;
    font-size: 2.3rem;
  }
}
